@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "tailwindcss";

@theme {
  --color-alta: #1e96fc;
  --color-altadark: #0b57d0;
  --font-ubuntu: "Ubuntu", sans-serif;
}
